#floating-div {
    float: left;

    margin-right: 10px;
}

.small{
    margin-top: 30px;
    background-color: red;
}
.deco{
    border-style: dashed;
    border-color: black;
    margin-bottom: 15px;
    padding: 10px;

}
body{
    background-color: blanchedalmond;
}