{% extends "baseTemplateFlask.html" %}
{% block content %}
      <div class="header">
  <h1 class="gold">Kiss and Tell Gallery</h1>

</div>

<div class="row">
  <div class="column">
    <img src="static/attractive.jpg" style="width:100%">
    <img src="static/attractive2.jpg" style="width:100%">
    <img src="static/attractive3.jpg" style="width:100%">
    <img src="static/attractive4.jpg" style="width:100%">
    <img src="static/attractive5.jpg" style="width:100%">
    <img src="static/attractive6.jpg" style="width:100%">
    <img src="static/attractive7.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="static/attractive13.jpg" style="width:100%">
    <img src="static/attractive12.jpg" style="width:100%">
    <img src="static/attractive11.jpg" style="width:100%">
    <img src="static/attractive10.jpg" style="width:100%">
    <img src="static/attractive9.jpg" style="width:100%">
    <img src="static/attractive8.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="static/attractive7.jpg" style="width:100%">
    <img src="static/attractive6.jpg" style="width:100%">
    <img src="static/attractive5.jpg" style="width:100%">
    <img src="static/attractive4.jpg" style="width:100%">
    <img src="static/attractive3.jpg" style="width:100%">
    <img src="static/attractive2.jpg" style="width:100%">
    <img src="static/attractive.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="static/attractive8.jpg" style="width:100%">
    <img src="static/attractive9.jpg" style="width:100%">
    <img src="static/attractive10.jpg" style="width:100%">
    <img src="static/attractive11.jpg" style="width:100%">
    <img src="static/attractive12.jpg" style="width:100%">
    <img src="static/attractive13.jpg" style="width:100%">
  </div>
</div>

{% endblock %}