{% extends "baseTemplateFlask.html" %}
{% block content %}
<section class="container">
    <div class="row white">

            <div class="col-md-3">
                <ul class="pricing p-green">
                    <li>
                        <img src="http://bread.pp.ua/n/settings_g.svg" alt="">
                        <big>Bride</big>
                    </li>
                    <li>Consultation</li>
                    <li>False Lashes</li>
                    <li>Day-of Makeup</li>
                    <li>*50% deposit required at consultation</li>
                    <li>
                        <h3>$270</h3>

                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <ul class="pricing p-yel">
                    <li>
                        <img src="http://bread.pp.ua/n/settings_y.svg" alt="">
                        <big>Glamour</big>
                    </li>
                    <li>Charity Events</li>
                    <li>Private Events</li>
                    <li>Socialite Parties</li>
                    <li>Ceremonies</li>

                    <li>
                        <h3>$100</h3>
                        <span>per person</span>

                    </li>

                </ul>
            </div>

            <div class="col-md-3">
                <ul class="pricing p-red">
                    <li>
                        <img src="http://bread.pp.ua/n/settings_r.svg" alt="">
                        <big>Fashion</big>
                    </li>
                    <li>Photo Shoots</li>
                    <li>Fashion Shows</li>
                    <li>Runway Events</li>
                    <li>Catalog/Magazine</li>
                    <li>
                        <h3>$100</h3>
                        <span>per person</span>
                    </li>

                </ul>
            </div>

            <div class="col-md-3">
                <ul class="pricing p-blue">
                    <li>
                        <img src="http://bread.pp.ua/n/settings_b.svg" alt="">
                        <big>Grad</big>
                    </li>
                    <li>Consultation</li>
                    <li>Day-of makeup</li>
                    <li>False Lashes</li>
                    <li>Styled elements</li>
                    <li>
                        <h3>$220</h3>
                        <span>per person</span>
                    </li>

                </ul>
            </div>


        </div><!-- /block -->
    </div><!-- /row -->
</section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}